	
	<div class="ui section divider">
		<p class="ui right aligned basic segment">Made by Rachel V. <a href="https://github.com/RachelVoisin/deckBuilder" style="color:black;"><i class="github icon"></i></a></p>
	</div>
	
	</div>
	
</body>
</html>